@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css?family=Lato:400,300italic,400italic,300");

body {
	font-family: Lato, Helvetica Neue, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 300;
	text-align: center;
	padding: 30px;
	background: linear-gradient(90deg, #283048 10%, #859398 90%);
	color: white;

}
label, input {
	margin: 5px;
}
input{
	width: 200px;
	color: black;
	text-align: center;
}
button {
	margin: 15px;
}

.help-block {
	color: crimson;
	font-weight: 600;
}
@media screen and (min-width: 992px) {
	h2 {
		font-size: 70px;
		font-weight: 500;
		color: white;
    	text-shadow: -2px 0 #006dcc, 0 2px #006dcc, 2px 0 #006dcc, 0 -2px #006dcc;
	}
	h6 {
		font-size: 20px;
	}
	input{
		width: 220px;
	}
}